@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin: 0;
  height: 100%;
  overflow: hidden;
}
